html * {
    font-family: Hack, monospace;
}

h1 {
    text-align: center;
}
  
.usa-form {
    margin-left: auto;
    margin-right: auto;
    width: 30rem
}

.usa-fieldset {
    border: none;
    margin: 1rem 2rem;
    padding: 0.5rem;
}

.usa-fieldset .usa-input {
    display: block;
}

.usa-legend {
    font-weight: bold;
}

.usa-label {
    display: inline-block;
    margin: 0.2rem;
}

.usa-input, .input-types {
    line-height: 1.3;
}

.usa-input[disabled] { 
    display: none 
}

.grid-row .grid-gap{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.button-holder {
    text-align: center;
}

.usa-button {
    font-family: Hack, monospace;
    background: #0F0F6D;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 90px;
}

.usa-button::after {
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.usa-button:hover {
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding: 0.5rem;
    color: #ffffff;
}

.usa-button:hover::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}
